version: 1.0.{build}

environment:
  PATH: C:\sbt\bin;%PATH%
  JAVA_OPTS: -Xms2048M -Xmx2048M
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
  nodejs_version: "7.1.0"



install:
  - ps: . "scripts\appveyor.ps1"


cache:
  - C:\Users\appveyor\.ivy2
  - C:\Users\appveyor\.sbt

build_script:
  - ps: sbt fullOptJS

test_script:
  - ps: sbt test

branches:
  only:
    - master
    - synereo