/*
 * LivelyGig CSS 
 */

 html {
 	position: relative;
 	min-height: 100%;
 	overflow: hidden;
 }
 
 .main-container-div{
    background-color: #EAEAEA;
    margin-top: 124px;
    padding-left: 7%;
    padding-right: 7%;
    overflow-y: auto;
    height: calc(100vh - 164px);
 }

 .footer >.container-fluid {
 	border-top: 2px solid;
   border-top-color: #67EAF2;
   padding-left: 7%;
   padding-right: 7%;
 }


 .navi-background {
 	background-color: #005256;
  min-height: 64px;
 }

 #navi-collapse>ul{
 	padding-top: 8px;
 }

 #navi-collapse>ul>li>a{
   border-bottom: 3px solid transparent;
   color:#fff;
   letter-spacing: 0.5px;
   font-size: 1.2em;
   padding-bottom: 16px;
}

#navi-collapse>ul>li>a:hover,
#navi-collapse>ul>li>a:focus{
	background-color: inherit;
	border-bottom: 3px solid;
	border-bottom-color: #67EAF2;
  color: #67EAF2;
  outline: none;
}
.slct-left-content-div{
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}
  
 /*footer-section*/
 .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #005256;
    z-index: 1000;
 }

 .foot-items{
 	margin-top: 10px;
 }
 .foot-items-left {
  padding-left: 0;
  float: left;
}
.foot-items-right {
  padding-right: 0;
  float: right;
}

 .foot-items>li{
 	list-style-type: none;
 	display: inline;
 	padding-left: 10px;
 	margin-top: 10px;
    font-size: 1.2em;
    margin-left: 10px;
}
.foot-items li a,
 .foot-items li a:hover, 
 .foot-items li a:focus{
 	text-decoration: none;
 	color: #fff;
 }

 .foot-png-img{
 	height: 20px;
 	width: 20px;
 }

 /*navi css*/
 .navi-logo{
 	height: 40px;
  width: 50px;
  margin-top: -4px;
}

.navi-container-div{
    border-bottom: 2px solid #67EAF2;
    padding-left: 7%;
    padding-right: 7%;
    min-height: 64px;
}

 .middel-navi-container{
    margin-top: 64px;
    height: 60px;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #00767C;
    position: fixed;
    top: -2px;
    z-index: 1;
    width: 100%;
    padding-top: 4px;
 }       
 .gig-conversation{
    border: 3px solid white;
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    padding-left: 0;
    padding-right: 13px;
 }
 .ps-scrollbar-y-rail{
    right: -1px !important;
 }

@media(max-width: 1024px) and (max-height: 768px){
    .foot-items>li{
        padding-left: 2px;
        font-size: 1.1em;
        margin-left: 2px;
    }

}
@media (max-height: 1024px) and (max-width: 768px){
   
    .foot-items>li{
        padding-left: 2px;
        font-size: 1.1em;
        margin-left: 2px;
    }
}
 
/*Splitter css*/
      
  .split>div{
      background: #005256;
    }
    .split>div:first-child{
      background: #ffffff;
    }
    .split>div:last-child{
      background: #ffffff;
    }

    .split-container {
      position: relative;
      height: 100%;
      overflow: hidden;
    }

    .splitter-bar {
      background: #333;
    }

/*perfectscrollbar*/


  #slct-scroll-container {
    position:relative;
    padding-left:1%;
    padding-right: 1%; 
    width: 100%; 
    overflow:hidden; 
    padding: 0 20px;
    white-space: nowrap;
    background-color: #EAEAEA;
    height: 100%;
  }

/*resizable div*/
.resizable { 
  width: auto; 
  padding: 0.5em; 
  margin: 1%;
  min-height: 80px;
  overflow-y:auto; 
}

.resizable h3 { text-align: center; margin: 0; }


/* form  elements*/
 input.checkbox-height-width{
      width: 25px;
      height: 25px;
      margin-top: 0px;
      margin-right: 15px;
      margin-bottom: 11px;
 }

 .input-height-width{
    height: 25px;
    margin-bottom: 12px;
 }

.create-new-project-btn,
.create-new-project-btn:hover {
    background-color: orange;
    color: white;
    font-size: 1.15em;
    margin: 1.78%;
}
.project-create-dropdown{
    background: transparent;
    margin: 2% 0% 2%;
    color: #13EEDD;
    width: 90%;
}
.project-create-btn,
.project-create-btn:hover,
.project-create-btn:focus{
  background: rgba(0, 0, 0, 0.38);;
  color: #13EEDD;
  width:100%;
  font-size: 1.2em;
  text-align: left;
}
.project-create-dropdown > .dropdown-menu {
    width: 100%;
}
/*css for right section*/

.Details-holder{
  margin: 1%;
  display: inline-block;
}
.profile-pic{
  height: 8em;
  width: 8em;
}
.gig-match-btn{
  background-color: transparent;
  border: 1px solid !important;
  border-radius: 0 !important;
}
.profile-name-holder{
  background-color: #AAC6CA;
  height: 40px;
  padding: 0.7%;
  font-size: 1.3em;
}
.profile-description{
  font-size: 1.1em;
}
.profile-description .profile-action-buttons{
  visibility: hidden;
}
.profile-description:hover .profile-action-buttons{
  visibility: visible;
}
.profile-action-buttons > .btn,
.profile-action-buttons > .btn:hover {
  background-color: orange;
  color: white;
  font-size: 1em;
  margin: 1%;
}
.gig-actions-container {
 padding: 14px 0px 14px 0px;
 background-color: #DFDFDF;
 height: 60px;
}
.send-invite-btn {
  background-color: transparent;
  border: 1px solid !important;
  border-radius: 0 !important;
  margin:5% 0% 5%;
}
.media-list > li:nth-child(odd) {
  background-color: #EAEAEA;
}
.media-list > li:nth-child(even) {
  background-color: #D7E3E3;
}
.padding-left-right-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.gig-conv-action-btn-container > .btn,
.gig-conv-action-btn-container > .btn:hover {
  color:#A0D14D;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .profile-action-buttons > .btn,
  .profile-action-buttons > .btn:hover {
    font-size: 0.7em;
  }

}
.star-rating .caption {
  display: none;
}
.clear-rating-active
{
 display: none;  
}
.glyphicon-minus-sign
{
  display: none;
}
.rating-container .rating-stars
{
  color: #5BB5FF;
}
.rating-sm
{
  font-size: 15px;
}
.star-rating
{
  display: inline-block;
}
.ui-igsplitter-panel-vertical {
  overflow: hidden !important;
}

.navi-bell-notify{
  font-size: 1.4em;
  color: #CDC7C7;
  margin-top: 4px;
}
.profile-name{
  font-size: 1.2em;
  color: #fff;
  margin-top: 5px;
}
.user-profile-ul{
  
}

.user-profile-div{
  margin-right: 0px;
}
.user-profile-ul>li>a:hover{
 background-color: transparent;
}
.user-profile-pic{
  height: 40px;
  width: 50px;
  margin-top: 12px;
}
.user-profile-ul>li>.profile-name:hover{
  background-color: inherit;
  color: #fff;
}

.user-profile-ul>li:hover{
  background-color: inherit;
}
.foot-text-logo-red{
  color: #EA135A;
  font-weight: 600;
}
.foot-text-logo-blue{
  color: #0ABEF1;
  font-weight: 600;
}
@media(max-width: 1042px){
  .navi-container-div {
    padding-left: 3%;
    padding-right: 3%;
  }
  .footer >.container-fluid {
   padding-left: 7%;
   padding-right: 7%;
 }
}
@media(max-width: 950px){
  #navi-collapse>ul>li>a {
    font-size: 1em;
    padding: 8px;
    padding-bottom: 23px;
  }
  .profile-name{
    font-size: 1em;
  }
  .navi-bell-notify {
    font-size: 1.2em;
    margin-top: 8px;
  }
  .user-profile-ul >li>a {
    padding: 10px;
  }
  .user-profile-pic {
    margin-top: 8px;
    height: 30px;
    width: 40px;
  }
  .navi-logo {
    margin-top: -6px;
    height: 30px;
    width: 40px;
  }
 
}
@media (max-width: 1024px){
  .create-new-project-btn,
  .create-new-project-btn:hover {
    font-size: 1em;
  }
  .project-create-btn,
  .project-create-btn:hover {
    font-size: 1em;
  }
}
@media(max-width: 768px) {
  .navi-logo {
    height: 40px;
    width: 50px;
    margin-top: -4px;
  }
}