@import "lib/bootstrap/less/bootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";

#mainContainer{
  width:100%;
 overflow:hidden;
 }
 .connectionModalBorder{
  border:solid 6px #00767c;
 }
 .btnStyle{
     background-color:   #FFA500;
 }
 .btnHeight{
   height : 50px;
 }
#resultsContainer{
 height:calc(~"100vh - 153px");
 overflow:auto;
 position: relative;
 padding-left: 0px;
 padding-right: 0px;
 border-bottom-right-radius: 25px;
  margin-bottom: 25px;
}
@media (max-width: 375px) {
#resultsContainer{
 height:calc(~"100vh - 153px");

 }
 #mainContainer{
  height:calc(~"100vh - 52px");
  }
  .dashboardContainer {
       height:calc(~"100vh - 59px");
      }
}

@media (min-width: 376px) {
#resultsContainer{
 height:calc(~"100vh - 175px");
 }
 #mainContainer{
  height:calc(~"100vh - 105px");
  }
  .dashboardContainer {
      height:calc(~"100vh - 116px");
      }
}

.dashboardContainer {
    overflow-y:auto;
    z-index:100
  }
// #resultsConnectionsContainer{
 // height:calc(~"100vh - 194px");
 // overflow:auto;
 // padding-left: 0px;
 // padding-right: 0px;
/* justify-content: flex-start; */
// }
// @media (max-width: 375px) {
// #resultsConnectionsContainer{
 // height:calc(~"100vh - 150px");
 // }
// }
// @media (min-width: 376px) {
// #resultsConnectionsContainer{
 // height:calc(~"100vh - 194px");
 // }
// }

a:hover, a:focus {
    color: white;
    text-decoration: none;
}

.rowStyle > tbody > tr:nth-child(even) {
     background-color: #D7E3E3;
 }
.rowStyle > tbody >  tr td:nth-child(1), .rowStyle > thead > tr th:nth-child(1), .rowStyle > tfoot >  tr td:nth-child(1){
     width:30%;
 }
.rowStyle > tbody >  tr td:nth-child(2), .rowStyle > thead > tr th:nth-child(2), .rowStyle > tfoot >  tr td:nth-child(2){
      width:18%;
      text-align:center;
}
.rowStyle > tbody >  tr td:nth-child(3), .rowStyle > thead > tr th:nth-child(3), .rowStyle > tfoot >  tr td:nth-child(3){
       width:18%;
       text-align:center;
}
.rowStyle > tbody >  tr td:nth-child(4), .rowStyle > thead > tr th:nth-child(4), .rowStyle > tfoot >  tr td:nth-child(4){
       width:34%;

}

   .rowStyle thead, .rowStyle tbody, .rowStyle tr, .rowStyle td, .rowStyle th { display: block; }

   .rowStyle tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

   .rowStyle thead th {
        height: 50px;
        /*text-align: left;*/
    }

  .rowStyle  tbody {
        height: 350px;
        overflow-y: auto;
    }

   .rowStyle thead {
        /* fallback */
    }

   .rowStyle tbody td, .rowStyle thead th, .rowStyle tfoot td {
        width: 25%;
        float: left;
    }

@media (max-width: 991px) {
    #sidebarbtn.navbar-header {
        float: none;
    }
    #sidebarbtn.navbar-left,#sidebarbtn.navbar-right {
        float: none !important;
    }
    #sidebarbtn.navbar-toggle {
        display: block;
        padding:0px 0px;
        margin-right:-25px;
        margin-bottom: 0px;
    }
    #sidebarbtn.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #sidebarbtn.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
   #sidebarbtn.navbar-collapse.collapse {
        display: none!important;
    }
    #sidebarbtn.navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	#sidebarbtn.navbar-nav>li {
        float: none;
    }
    #sidebarbtn.navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #sidebarbtn.collapse.in{
  		display:block !important;
	}

//written
.sidebarRightContainer {
        background: rgba(0,0,0,0.5);
        opacity: 0.4;
}
}



@media (max-width: 820px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
 /*   .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	} */
    .navbar-collapse.collapse {
        display: none!important;
    }

    /*
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    */
    .collapse.in{
  		display:block !important;
	}
	 .loggedInUser {
      display:none;
     }
     .loggedInUserNav{
        display:block;
     }
}
@media (min-width: 821px) {
   .loggedInUser {
        display:block;
   }
       .loggedInUserNav{
         display:none;
       }
}

a:hover {cursor: hand; cursor: pointer;}

.biddingscreenModalHeight{
  height: calc(~"100vh - 160px");
}

.tab-container
  {
 height: calc(~"100vh - 260px");
   overflow-y: auto;
   overflow-x: hidden;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;
}

/* Resultsbar icons */


[class^="icon-"], [class*=" icon-"] {
	font-family: 'Livelygig';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-List1:before {
	content: "\e900";
}
.icon-List2:before {
	content: "\e901";
}
.icon-List3:before {
	content: "\e902";
}

/* treeview  */
.treeview
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
ol.tree
{
	padding: 0 0 0 0px;
	 // width: 300px;
	 width: 100%;
}
	.tree li
	{
		position: relative;
		margin-left: 0px;
		// margin-bottom:20px;
		list-style: none;
	}
	li.file
	{
		margin-left: -1px !important;
	}
		li.file a
		{
			background: url(../images/document.png) 0 0 no-repeat;
			color: #000;
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
		li.file a[href *= '.pdf']	{ background: url(../images/document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(../images/document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(../images/document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']		{ background: url(../images/document.png) 0 0 no-repeat; }

		li input + ol
		{
			background: url(../images/toggle-small-expand.png) 40px 0 no-repeat; /*plus*/
			margin: -1.2em 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
	 /*	background: url(../images/folder-horizontal.png) 15px 1px no-repeat; */
		cursor: pointer;
		display: block;
		padding-left: 16px;
		font-weight: normal;
	}

	li input:checked + ol
	{
		background: url(../images/toggle-small.png) 40px 5px no-repeat;
		margin: -1.6em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 92px;
		height: auto;
	}
		li input:checked + ol > li { display: block; margin: 2px 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 1px 0 0.063em; /* 1px */ }

@media (min-width: 769px) {
.dropdown-menu>li>a.ModalNameDropDown {
    display : none;
}
.ModalName {
    display : block;
}
}

@media (max-width: 768px) {
.dropdown-menu>li>a.ModalNameDropDown {
    display : block;
}
.ModalName {
    display : none;
}

@media(max-width:375px){
#navbar.dropdown-menu{
   left: -665%;
}
}

@media(min-width:376px) and (max-width:768px){
#navbar.dropdown-menu{
     left: -210%;
}
}
#navbar.dropdown-menu{
            position: absolute;
            top: 100%;
            z-index: 1000;
            float: right;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            background-clip: padding-box;
        }

}


/* sidebar settings */
.sidebar {
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  background-color: #eee;
  z-index: 10;
  pointer-events: all;
  opacity: 1;
  transition: all 300ms ease-in;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #005256;
}

 @media (max-width: 767px) {
 .sidebar {
  width: 210px;
  }
  }
  @media (max-width: 991px)  and (min-width: 768px) {
   .sidebar {
    width: 260px;
    }
  }

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width: 768px) {
    .row .sidebar.sidebar-left.sidebar-sm-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 992px) {
    .row .sidebar.sidebar-left.sidebar-md-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 1200px) {
    .sidebar.sidebar-left.sidebar-md-show {
        border-radius: 25px 0 0 25px;
    }
    .sidebar{
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }
}

@media (min-width: 1170px) {
    .row .sidebar.sidebar-left.sidebar-lg-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }

}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: all 300ms ease-in;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
    -webkit-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

    .sidebar.sidebar-left.sidebar-open {
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }


/**
 * selectize.css (v0.12.1)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
     cursor: pointer;
     margin: 0 3px 3px 0;
     padding: 2px 6px;
     background: #00767c;
     color: white;
     border-radius: 3px;
     border: 0 solid #d0d0d0;
 }
.selectize-control.multi .selectize-input > div.active {
  background: #00767c;
  color: white;
  border: 0 solid #cacaca;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}
 #labelsId{
     width: 100%;
 }

 #navi-collapse{
       width: 100%;
       float: none;
               position: absolute;
               z-index: 1000;
               background-color:#005256;
               margin-top: 50px;

   }


@media (max-width: 991px) {
.overlaySidebar{
   position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: all;
}
}

.overlaySidebar{}