@import "lib/bootstrap/less/bootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

a:hover, a:focus {
	text-decoration: none;
	cursor: pointer;
}
/* sidebar settings */

#sidebarbtn.navbar-header {
	float: none;
}
#sidebarbtn.navbar-left,#sidebarbtn.navbar-right {
	float: none !important;
}
#sidebarbtn.navbar-toggle {
	display: block;
	padding:0px 0px;
	margin-top: 13px;
	margin-bottom: 0px;
	color: white;
	font-size: 20px;
}
#sidebarbtn.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
#sidebarbtn.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
#sidebarbtn.navbar-collapse.collapse {
	display: none!important;
}
#sidebarbtn.navbar-nav {
	float: none!important;
	margin-top: 7.5px;
}
#sidebarbtn.navbar-nav>li {
	float: none;
}
#sidebarbtn.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
#sidebarbtn.collapse.in{
	display:block !important;
}
.sidebar , .sidebar:hover {
	position: absolute;
	display: block;
	bottom: 0;
	top: 65px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	min-width:12%;
	transition: all 0.7s ease-in-out;
}
.sidebar-left {
	left: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
	left: 0;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	-moz-transform: translate(0,0);
	transform: translate(0,0);
}

@media (min-width: 768px) {
	.row .sidebar.sidebar-left.sidebar-md-show {
		left: 0;
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		-moz-transform: translate(0,0);
		transform: translate(0,0);
	}
}

@media (min-width: 992px) {
	.row .sidebar.sidebar-left.sidebar-md-show {
		left: 0;
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		-moz-transform: translate(0,0);
		transform: translate(0,0);
	}

}

@media (min-width: 2000px) {
	.row .sidebar.sidebar-left.sidebar-lg-show {
		left: 0;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
	-webkit-transition: all 3ms ;
	-moz-transition: all 3ms ;
	-o-transition: all 3ms ;
	transition: all 0.7s ease-in-out;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
	-webkit-transform: translate(-100%,0);
	-moz-transform: translate(-100%,0);
	-ms-transform: translate(-100%,0);
	-o-transform: translate(-100%,0);
	transform: translate(-100%,0);

}

.sidebar.sidebar-left.sidebar-open {
/* -webkit-transform: translate(0,0);
-moz-transform: translate(0,0);
-ms-transform: translate(0,0);
-o-transform: translate(0,0);
transform: translate(0,0); */
}

#sidebarNavStyle> li > a {
	color:#FFFFFF;
}
#sidebarNavStyle> li > a:hover ,#sidebarNavStyle> li > a:focus {
	background-color: #30ADE3;
}
#sidebarNavStyle> li > a >span {
	margin-right:10px;
}
.sidebarBtn{
	background-color: #1aa3ff;
	border: none;
	border-top-right-radius: 50px;
	padding: 10px;
	font-size: 17px;
	width:100%;
	color: white;
}
.nav .nav-pills li .dropdown:hover ul.dropdown-menu{
	opacity: 1;
	visibility: visible;
	display:block;
}
.nav ul.dropdown-menu{
	width: 240px;
	right: -80px;
	min-height: 260px;
	width: 350px;
}
.dropdown-arrow {
	position: absolute;
	top: 88.1%;
	right: 20px;
	border-bottom: 8px solid #FFFFFF;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	visibility:hidden;
}
.nav.nav-pills li .dropdown:hover .dropdown-arrow {
	visibility:visible;
}
.nav ul.dropdown-arrow::before{
	content: " ";
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 2px;
	left: -7px;
	border-top: 0;
	z-index: 2000;
	opacity: 1;
}
/* Base for label styling */
input[type="checkbox"] {
	margin: 8px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 18px; height: 18px;
	border: 2px solid #96989B;
	background: #f8f8f8;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	width: 16px; height: 16px;
	top: 4px; left: 1px;
	padding-left:2px;
	padding-top:2px;
	font-size: 16px;
	line-height: 0.8;
	background-color: #96989B;
	color:white;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
	border: 1px solid #4778d9!important;
}

.emailVerifiedContainer
{     margin-top: -24%;
	background-color: #9554b0;
	margin-left: -41px;
	margin-right: -29px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	text-align: left;
	padding: 10px;
	height: 109px;
	color: #fff;
	box-shadow: inset 0 -7px 7px rgba(0,0,0,0.3);
	margin-bottom: 5%;

}

//css for smaller  dropdown
.nav .nav-pills li.dropdown:hover ul.dropdown-menu{
	opacity: 1;
	visibility: visible;
	display:block;
}
.nav ul.dropdown-menu{
	width: 240px;
	right: -80px;
	min-height: 260px;
	width: 350px;
}
.dropdown-arrow-small {
	position: absolute;
	top: 89%;
	right: 13px;
	border-bottom: 8px solid white;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	visibility:hidden;
}
.nav.nav-pills li div.dropdown:hover .dropdown-arrow-small {
	visibility:visible;
}
.nav ul.dropdown-arrow-small::before{
	content: " ";
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 2px;
	left: -7px;
	border-top: 0;
	z-index: 2000;
	opacity: 1;
}
  .has-error input {
  	border-color: #a94442;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  	background-color: #ff806c;
  	opacity:1;
  }

  .has-error   input::-webkit-input-placeholder {
  	color: white !important;
  }

  .has-error  input:-moz-placeholder { /* Firefox 18- */
  	color: white !important;
  }

  .has-error  input::-moz-placeholder {  /* Firefox 19+ */
  	color: white !important;
  }

  .has-error  input:-ms-input-placeholder {
  	color: white !important;
  }
.card-shadow {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
}
//full post view modal styles
.full-post-view-modal {
	width:100% !important;
}
.full-post-view-modal .modal-dialog {
	width:100% !important;
	margin-top: 0;
	margin-bottom:0;
}
.full-post-view-modal .modal-body{
	padding-left:0 !important;
	padding-right:0 !important;
}

.full-post-view-modal.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.full-post-view-modal.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}
.postedUserInfoNavModalScroll {
	position: absolute;
	width: 100%;
	background-color: grey;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
}
.postedUserInfoNavModalScroll li {
	z-index: 20;
}


#homeFeedMediaList li:first-of-type {
	opacity:1;
	transform: scale(1.05);
}
#homeFeedMediaList li:nth-of-type(2){
	opacity:0.60;
}
#homeFeedMediaList li:nth-of-type(3){
	opacity:0.35;
}
#homeFeedMediaList li {
	opacity:0.2;
}
/*
 * selectize.css
 */
 .selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
 	visibility: visible !important;
 	background: #f2f2f2 !important;
 	background: rgba(0, 0, 0, 0.06) !important;
 	border: 0 none !important;
 	-webkit-box-shadow: inset 0 0 12px 4px #ffffff;
 	box-shadow: inset 0 0 12px 4px #ffffff;
 }
 .selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
 	content: '!';
 	visibility: hidden;
 }
 .selectize-control.plugin-drag_drop .ui-sortable-helper {
 	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 }
 .selectize-dropdown-header {
 	position: relative;
 	padding: 5px 8px;
 	border-bottom: 1px solid #d0d0d0;
 	background: #f8f8f8;
 	-webkit-border-radius: 3px 3px 0 0;
 	-moz-border-radius: 3px 3px 0 0;
 	border-radius: 3px 3px 0 0;
 }
 .selectize-dropdown-header-close {
 	position: absolute;
 	right: 8px;
 	top: 50%;
 	color: #303030;
 	opacity: 0.4;
 	margin-top: -12px;
 	line-height: 20px;
 	font-size: 20px !important;
 }
 .selectize-dropdown-header-close:hover {
 	color: #000000;
 }
 .selectize-dropdown.plugin-optgroup_columns .optgroup {
 	border-right: 1px solid #f2f2f2;
 	border-top: 0 none;
 	float: left;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 .selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
 	border-right: 0 none;
 }
 .selectize-dropdown.plugin-optgroup_columns .optgroup:before {
 	display: none;
 }
 .selectize-dropdown.plugin-optgroup_columns .optgroup-header {
 	border-top: 0 none;
 }
 .selectize-control.plugin-remove_button [data-value] {
 	position: relative;
 	padding-right: 24px !important;
 }
 .selectize-control.plugin-remove_button [data-value] .remove {
 	z-index: 1;
 	/* fixes ie bug (see #392) */
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	width: 17px;
 	text-align: center;
 	font-weight: bold;
 	font-size: 12px;
 	color: inherit;
 	text-decoration: none;
 	vertical-align: middle;
 	display: inline-block;
 	padding: 2px 0 0 0;
 	border-left: 1px solid #d0d0d0;
 	-webkit-border-radius: 0 2px 2px 0;
 	-moz-border-radius: 0 2px 2px 0;
 	border-radius: 0 2px 2px 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 .selectize-control.plugin-remove_button [data-value] .remove:hover {
 	background: rgba(0, 0, 0, 0.05);
 }
 .selectize-control.plugin-remove_button [data-value].active .remove {
 	border-left-color: #cacaca;
 }
 .selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
 	background: none;
 }
 .selectize-control.plugin-remove_button .disabled [data-value] .remove {
 	border-left-color: #ffffff;
 }
 .selectize-control {
 	position: relative;
 }
 .selectize-dropdown,
 .selectize-input,
 .selectize-input input {
 	color: #303030;
 	font-family: inherit;
 	font-size: 16px;
 	line-height: 18px;
 	-webkit-font-smoothing: inherit;
 }
 .selectize-input,
 .selectize-control.single .selectize-input.input-active {
 	background: #ffffff;
 	cursor: text;
 	display: inline-block;
 }
 .selectize-input {
 	padding: 8px 8px;
 	display: inline-block;
 	width: 100%;
 	overflow: hidden;
 	position: relative;
 	z-index: 1;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 	border: 1px solid #d0d0d0;
 }
 #SearchComponentCnxnSltz .selectize-input {
 	background-color: transparent !important;
 	border-radius: 0 !important;
 	border-bottom: 1px solid white !important;
 	border: none;
 }
 .selectize-control.multi .selectize-input.has-items {
 	padding: 6px 8px 3px;
 }
 .selectize-input.full {
 	background-color: #ffffff;
 }
 .selectize-input.disabled,
 .selectize-input.disabled * {
 	cursor: default !important;
 }
 .selectize-input.focus {
 	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
 	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
 }
 .selectize-input.dropdown-active {
 	-webkit-border-radius: 3px 3px 0 0;
 	-moz-border-radius: 3px 3px 0 0;
 	border-radius: 3px 3px 0 0;
 }
 .selectize-input > * {
 	vertical-align: baseline;
 	display: -moz-inline-stack;
 	display: inline-block;
 	zoom: 1;
 	*display: inline;
 }
 .selectize-control.multi .selectize-input > div {
 	cursor: pointer;
 	margin: 0 3px 3px 0;
 	padding: 2px 6px;
 	//overridden values for synereo specific colors
 	background: #2EAEE3;
 	color: #303030;
 	border: 0 solid #d0d0d0;
 	//added below property
 	word-break: break-all;
 }
 .selectize-control.multi .selectize-input > div.active {
 	background: #e8e8e8;
 	color: #303030;
 	border: 0 solid #cacaca;
 }
 .selectize-control.multi .selectize-input.disabled > div,
 .selectize-control.multi .selectize-input.disabled > div.active {
 	color: #7d7d7d;
 	background: #ffffff;
 	border: 0 solid #ffffff;
 }
 .selectize-input > input {
 	display: inline-block !important;
 	padding: 0 !important;
 	min-height: 0 !important;
 	max-height: none !important;
 	max-width: 100% !important;
 	margin: 0 2px 0 0 !important;
 	text-indent: 0 !important;
 	border: 0 none !important;
 	background: none !important;
 	line-height: inherit !important;
 	-webkit-user-select: auto !important;
 	-webkit-box-shadow: none !important;
 	box-shadow: none !important;
 }
 .selectize-input > input::-ms-clear {
 	display: none;
 }
 .selectize-input > input:focus {
 	outline: none !important;
 }
 .selectize-input::after {
 	content: ' ';
 	display: block;
 	clear: left;
 }
 .selectize-input.dropdown-active::before {
 	content: ' ';
 	display: block;
 	position: absolute;
 	background: #f0f0f0;
 	height: 1px;
 	bottom: 0;
 	left: 0;
 	right: 0;
 }
 .selectize-dropdown {
 	position: absolute;
 	z-index: 10;
 	border: 1px solid #d0d0d0;
 	background: #ffffff;
 	margin: -1px 0 0 0;
 	border-top: 0 none;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
 	-webkit-border-radius: 0 0 3px 3px;
 	-moz-border-radius: 0 0 3px 3px;
 	border-radius: 0 0 3px 3px;
 }
 .selectize-dropdown [data-selectable] {
 	cursor: pointer;
 	overflow: hidden;
 }
 .selectize-dropdown [data-selectable] .highlight {
 	background: rgba(125, 168, 208, 0.2);
 	-webkit-border-radius: 1px;
 	-moz-border-radius: 1px;
 	border-radius: 1px;
 }
 .selectize-dropdown [data-selectable],
 .selectize-dropdown .optgroup-header {
 	padding: 5px 8px;
 }
 .selectize-dropdown .optgroup:first-child .optgroup-header {
 	border-top: 0 none;
 }
 .selectize-dropdown .optgroup-header {
 	color: #303030;
 	background: #ffffff;
 	cursor: default;
 }
 .selectize-dropdown .active {
 	background-color: #f5fafd;
 	color: #495c68;
 }
 .selectize-dropdown .active.create {
 	color: #495c68;
 }
 .selectize-dropdown .create {
 	color: rgba(48, 48, 48, 0.5);
 }
 .selectize-dropdown-content {
 	overflow-y: auto;
 	overflow-x: hidden;
 	max-height: 200px;
 }
 .selectize-control.single .selectize-input,
 .selectize-control.single .selectize-input input {
 	cursor: pointer;
 }
 .selectize-control.single .selectize-input.input-active,
 .selectize-control.single .selectize-input.input-active input {
 	cursor: text;
 }
 .selectize-control.single .selectize-input:after {
 	content: ' ';
 	display: block;
 	position: absolute;
 	top: 50%;
 	right: 15px;
 	margin-top: -3px;
 	width: 0;
 	height: 0;
 	border-style: solid;
 	border-width: 5px 5px 0 5px;
 	border-color: #808080 transparent transparent transparent;
 }
 .selectize-control.single .selectize-input.dropdown-active:after {
 	margin-top: -4px;
 	border-width: 0 5px 5px 5px;
 	border-color: transparent transparent #808080 transparent;
 }
 .selectize-control.rtl.single .selectize-input:after {
 	left: 15px;
 	right: auto;
 }
 .selectize-control.rtl .selectize-input > input {
 	margin: 0 4px 0 -2px !important;
 }
 .selectize-control .selectize-input.disabled {
 	opacity: 0.5;
 	background-color: #fafafa;
 }
/*
 * end of selectize.css
 */
 .create-post-button{
 	-webkit-transition: All 0.5s ease;
 	-moz-transition: All 0.5s ease;
 	-o-transition: All 0.5s ease;
 	-ms-transition: All 0.5s ease;
 	transition: All 0.5s ease;
 	position:absolute;
 	right:0;
 }
 .create-post-button:hover .vertical-text-post-btn,
 .create-post-button:focus .vertical-text-post-btn,{
 	display: none;
 	position:absolute;
 	right:0;
 }
 .vertical-text-post-btn {
 	transform: rotate(270deg);
 	transform-origin: left top 0;
 	background-color: #2283ae;
 	width: 50px;
 	color: #fff;
 	font-size: 13px;
 	margin-top: 9px;
 	display: block;
 	margin-left: -10px;
 }
 .label-selectize-container-main{
 	display: inline-block;
 	/* margin-left: 200px; */
 	/* text-align: center; */
 	position: absolute;
 }

 @media (max-width: 1440px)  and (min-width: 1251px){
 	.label-selectize-container-main{
 		left: 24%;
 		right: 28%;
 	}
 }
 @media (min-width: 1441px) and (max-width: 1600px) {
 	.label-selectize-container-main{
 		left: 25%;
 		right: 25%;
 	}
 }
 @media (min-width: 1601px) {
 	.label-selectize-container-main{
 		left: 25%;
 		right: 25%;
 	}
 }

 @media (max-width: 1250px) and (min-width: 1051px) {
 	.label-selectize-container-main{
 		left: 24%;
 		right: 28%;
 	}
 }

 @media (max-width: 1050px) and (min-width: 920px) {
 	.label-selectize-container-main{
 		left: 26%;
 		right: 23%;
 	}
 }
 @media (max-width: 919px)   {
 	.label-selectize-container-main{
 		left: 29%;
 		right: 29%;
 	}
 }
 @media (max-width: 767px)   {
 	.label-selectize-container-main {
 		left: 15px;
 		right: 40%;
 		width : 100%;
 		position : relative;
 	}
 }
 @media (max-width: 545px)   {
 	.label-selectize-container-main{
 		left: 15px;
 		right: 0%;
 	}
 }

 .MainContainer {
 	overflow-x: hidden;
 	height: calc(~"100vh - 60px");
 	overflow-y: scroll;
 }

 #newMessage.modal.fade:not(.in) .modal-dialog {
 	-webkit-transform: translate3d(25%, -25%, 0);
 	transform: translate3d(25%, -25%, 0);
 	background-color: rgba(0,0,0,.5);

 }

 #fullPostViewContainer{
 	overflow-y: auto;
 	height:100vh;
 }

 .fromSenderTooltip + .tooltip > .tooltip-inner {
 	background-color: black;
 	max-width:270px !important;
 }

 .trans{
 	transform: translateX(200px);
 	transition: all 1.5s ease-in-out;
 }
 .textOverflowPost {
 	display: block;
 	display: -webkit-box;
 	margin: 0 auto;
 	font-size: 10;
 	line-height: 1.4;
 	-webkit-line-clamp: 3;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 }

@media(min-width : 768px){
 .connection-post-shadow {
   box-shadow: 15px 0px 20px 0 #216b9a;
 }
}
 .connection-post-shadow {
 	box-shadow: 15px 0px 20px 0 #216b9a;
 }

 .privacy-option-dropdown:hover  .privacy-option-dropdown-menu {
 	display : block
 }
 .popular-tags {
 	visibility : hidden ;
 }
 .post-container {
 	margin : 1vw;
 	padding : 0px ;
 }
 .Posts:hover  .popular-tags {
 	visibility: visible
 }

.privacy-option-dropdown:hover  .privacy-option-dropdown-menu {
 display : block
}

.popular-tags {
 visibility : hidden ;
}

@media(max-width : 768px) {
 .popular-tags {
   display : none;
 }
}

.post-container {
  margin : 10px;
  padding : 0px ;
}

@media (min-width: 768px) {
 .post-container:hover  .popular-tags {
    visibility: visible
  }
}

 .UserProfileViewCSS_Style-modalImgUploadTab.active > .UserProfileViewCSS_Style-modalImgUploadTabAnchorTag {
       border-bottom: 4px solid #ff806c !important;
       border-top:0px !important;
       border-left:0px !important;
       border-right:0px !important;
       font-weight:bold;
 }