@import "lib/bootstrap/less/bootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


body {
 font-family: 'Karla', sans-serif;
 //background-image: url("../images/Login-bg.jpg");
 background-repeat: no-repeat;
 height:100vh;
 overflow-y: hidden;
}

*:focus {
  outline:none !important
}
.modal-content {
/*  width: 567px;
margin: auto;*/
}
.modal-footer{
  border-top:none !important
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nav>li>a:hover, .nav>li>a:focus{
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px
  }
  .navbar-nav>li>a.countBadge {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-size:16px;
    margin-left: -9px;
  }
}
.navbar-nav>li > a {
  display:inline-flex;
}
@media(max-width:1300px) {
  #headerNavUl>li>a{
    padding: 10px 6px 19px;
  }
}
@media(max-width:895px) {
  #headerNavUl>li>a{
    padding: 10px 5px 19px;
  }
}
.modal-header {
 // background-color:#96989B;
 color : white;
 border-bottom:none !important;
}
.navbar-fixed-top {
  position: initial;
  right: 0;
  left: 0;
  z-index: 0;
}
a:hover, a:focus {
  text-decoration: none;
}

.mainContainerDiv {
  background-color:#EAEAEA;
  padding-left:7%;
  padding-right:7%;
  overflow-x:auto;
  height:800px
}
.modal-open .profile-description .profile-action-buttons:active {
  visibility: show;
}
@media (max-width: 820px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
.modal {
  //background: rgba(0, 0, 0, 0.5);
}
a:hover {cursor: hand; cursor: pointer;}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color:#E7E7E7 !important
}



/* sidebar settings */


#sidebarbtn.navbar-header {
  float: none;
}
#sidebarbtn.navbar-left,#sidebarbtn.navbar-right {
  float: none !important;
}
#sidebarbtn.navbar-toggle {
  display: block;
  padding:0px 0px;
  margin-top: 13px;
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
}
#sidebarbtn.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
#sidebarbtn.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
#sidebarbtn.navbar-collapse.collapse {
  display: none!important;
}
#sidebarbtn.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
#sidebarbtn.navbar-nav>li {
  float: none;
}
#sidebarbtn.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
#sidebarbtn.collapse.in{
  display:block !important;
}



.sidebar {
  position: absolute;
  display: block;
  bottom: 0;
  top: 55px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 1s ease-in-out;
}


.sidebar-left {
  left: 0;
}

.sidebar-right {
  right: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
  left: 0;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
}

@media (min-width: 768px) {
  .row .sidebar.sidebar-left.sidebar-sm-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@media (min-width: 992px) {
  .row .sidebar.sidebar-left.sidebar-md-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
  }

}

@media (min-width: 2000px) {
  .row .sidebar.sidebar-left.sidebar-lg-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
  -webkit-transition: all 3ms ;
  -moz-transition: all 3ms ;
  -o-transition: all 3ms ;
  transition: all 1s ease-in-out;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
  -webkit-transform: translate(-100%,0);
  -moz-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  -o-transform: translate(-100%,0);
  transform: translate(-100%,0);

}

.sidebar.sidebar-left.sidebar-open {
    /* -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0); */

  }

  #sidebarNavStyle> li > a {
    color:white;
  }
  #sidebarNavStyle> li > a:hover {
    background-color: black;
  }
  #sidebarNavStyle> li > a >span {
    margin-right:10px;
  }

  .sidebarBtn{
    background-color: #1aa3ff;
    border: none;
    border-top-right-radius: 50px;
    padding: 10px;
    font-size: 17px;
    width:100%;
    color: white;

  }
  .sidebarBtn:hover{
    background-color: #1FB6F1
  }
  #naviContainer {
    background-color:#374152;
  }
  .nav .nav-pills li .dropdown:hover ul.dropdown-menu{
    opacity: 1;
    visibility: visible;
    display:block;
  }
  .nav ul.dropdown-menu{
    width: 240px;
    right: -80px;
    min-height: 260px;
    width: 350px;
  }
  .dropdown-arrow {
    position: absolute;
    top: 88.1%;
    right: 20px;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    visibility:hidden;
  }
  .nav.nav-pills li .dropdown:hover .dropdown-arrow {
    visibility:visible;
  }
  .nav ul.dropdown-arrow::before{
    content: " ";
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 2px;
    left: -7px;
    border-top: 0;
    z-index: 2000;
    opacity: 1;
  }